//  nombrar areas 
header {
    grid-area: header;
  }
  
  article {
    grid-area: article;     
  }
  section {
    grid-area: section;
  }
  nav {
    grid-area: nav;
  }
  footer {
    grid-area: footer;
  }
  div {
      grid-area: div;
  }
  


// inicio
body #grid_areas {
    width: 100px;
    height: 100vh;
  }
   body #grid_areas {
    display: grid;
    grid-template-areas: 
    "header" 
    "nav"
    "article"   
    "footer" 
    ; 
  }    
//   preguntas
.grid_areas2 
{ 
    width: 100%;
    height: 85vh;
  } 
   .grid_areas2 {
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "article"  
    "section"
     
    "footer" 
    ; 
  }  
//   sobre nosotros
body .grid_areas3 {
    width: 100%;
    height: 100vh;
  }
  .grid_areas3 {
   background-image: url(..//imagenes/nosotrosfondo.jpg);
   background-size: cover;
    display: grid;
    grid-template-areas: 
    "header " 
    " nav  "
    "article" 
    "section" 
    "footer "
    
    ; 
  }    

.grid_areas4 {
    background-image : url(../imagenes/fondo13.jpg);
    background-size: cover;
    display: grid;
    grid-template-areas: 
    "header header"   
    " nav  nav"
    "div div"
    "section article" 
    "footer footer "
    ; 
  }  
