

// Maps
$colores :(
    h1 : $color1,
    h2 : $colorsub ,
    h3 : $colorceles ,
   
);
// Map get
h1 {
    color: map-get($map: $colores, $key: h1 );
}

h2 {
    color: map-get($map: $colores, $key: h2);
}
h3 {
    color: map-get($map: $colores, $key:h3 );
}
// Extends

 // sucursales
  .sucursales2 {
    font-family: 'New Rocker', cursive;
    text-align: center;
   font-size: 50px;
  }
// Preguntas
  h2 {
    @extend .sucursales2;
  }

