.tituloanimado {
    font-family: 'Creepster', cursive;
    font-family: 'New Rocker', cursive;
  }
  // Preguntas
  .Pf {
    font-family: 'New Rocker', cursive;
   text-align: center;
   font-size: 30px;
   color: #4B4A54;
  }
  .texto4{
    font-family: 'Slabo 27px', serif;
  }